/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 13, 2025, 10:53:59 AM
    Author     : ADMIN
*/

body {
    background: #f8f9fa;
}

/* Thanh trên */
header {
    background: #ffffff;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    padding: 15px 0;
    /*                position: fixed;*/
    top: 0;
    width: 100%;
    z-index: 10;
    text-align: center;
}

header h3 {
    margin: 0;
    font-weight: bold;
    letter-spacing: 2px;
    pointer-events: none;
}

/* Container */
.auth-wrapper {
    max-width: 450px;
    margin: 120px auto;
    padding: 20px;
}

/* Nút chọn */
.auth-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.auth-buttons button {
    width: 45%;
}

/* Form */
.auth-form {
    display: none;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
}

.auth-form.active {
    display: block;
}

/* 2. CSS cho nút hiển thị mật khẩu */
.password-wrapper {
    position: relative;
}

.password-icon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
}
.auth-form label,
.auth-form input,
.auth-form p,
.auth-form div {
    text-align: left !important;
}

