/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 22, 2025, 1:55:11 PM
    Author     : duynu
*/

.search-container {
  position: relative;
  width: 300px;
}

#searchInput {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.suggestions-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  background: white;
  z-index: 100;
  display: none;
}

.suggestions-list li {
  padding: 8px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background: #f0f0f0;
}
#suggestionBox {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9999;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  display: none;
}

#searchForm {
  overflow: visible !important;
}
